body {
  margin: 0;
  padding: 0;
}

/* Index Page */

  /* Side Bar */
.side-bar {
  float:left;
  position: fixed;
  height: 1000px;
  width: 225px;
  background-color: #cccccc;
}

nav {
  position: relative;
  top: 20px;
  left: 10px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

nav a {
  margin-bottom: 5px;
  background-color: gray;
  width: 70px;
  text-indent: 5px;
  color:white;
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

nav a a:link {
  color: white
}

nav a:hover {
  background-color: black;
}

nav a:active {
  background-color: black;
}

#current-link {
  background-color: black;
}

.side-bar p {
  margin-top: 3px;
  margin-left: 3px;
}

#name {
  font-size: 35px;
  text-decoration: underline;
  margin-top: 200px;

}

  /*Main Container*/
.main-container {
  width: auto;
  height: 1000px;
  background-color: #ccbbbb;
  margin-left: 225px
}

.clear-fix:after {
  content: " ";
  display: table;
  clear: both;
}


#image-3 {
    height: 250px;
    width: 350px;
}
#mainwrapper {
  font: 10pt normal Arial, sans-serif;
  text-align: center;
  width: 33%;
  height: 1000px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#mainwrapper .box {
    border: 5px solid #fff;
    cursor: pointer;
    height: 250px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: 350px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

#mainwrapper .box img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

#mainwrapper .box .caption {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}

#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption {
    opacity: 0;
    width: 350px;
    height: 250px;
    text-align: left;
    padding: 15px;
}

#mainwrapper .box:hover .fade-caption {
    opacity: 1;
}

  /* Footer */
footer {
  width: auto;
  height: 150px;
  margin-left: 225px;
  background-color: #bbbbbb
}
