body {
  margin: 0;
  padding: 0;
}

/* Index Page */
.side-bar {
  float:left;
  height: 100%;
  width: 200px;
  border: black solid 2px;

}

.name {
  font-size: 30px;

}

.main-container {

}

footer {

}
